PROJECT_ID=your_project_id
PROJECT_NUMBER=your_project_number
SA_NAME=code-review-cr-service
SERVICE_ACCOUNT=code-review-cr-service@your_project_id.iam.gserviceaccount.com
MODEL=gemini-2.5-flash
GOOGLE_API_KEY=your_gemini_api_key_here
